*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #010001;
    padding: 20px;
    text-align: center;
    color: white;
}

.navbar h1{
    font-size: 1.7rem;
    padding-bottom: 10px;
}

/* Recipe section */

.recipe{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.recipe__div{
    border: 1px solid black;
    border-radius: 10px;
}

.recipe__div img{
    border-radius: 10px 10px 0 0;
}

.recipe__div--content{
    padding: 7px;
    text-align: center;
    line-height: 1.5;
}

button{
    outline: none;
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

button:hover{
    background: green;
}

/* Contact us */

.contact_us{
    width: 100%;
    background: #010001;
    color: white;
}

.contact_us h1,table{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.contact_us table{
    line-height: 2;
}

.contact_us input {
    outline: none;
    padding: 10px;
    margin-left: 20px;
}

.submit{
    color: black;
    background: yellow;
}